<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   width="{{ size|default:64 }}"
   height="{{ size|default:64 }}"
   version="1.1"
   viewBox="0 0 16.9 16.9"
   id="svg5326">
  <defs
     id="defs5330" />
  <metadata
     id="metadata5322">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <path
     d="m 8.4529988,2.188 c -2.05,0 -3.69,1.64 -3.69,3.69 0,2.05 1.64,3.69 3.69,3.69 2.0500002,0 3.6900002,-1.64 3.6900002,-3.69 0,-2.05 -1.64,-3.69 -3.6900002,-3.69 z m -5.243,7.294 c -1.78,0.657 -2.16,3.19 -2.16,5.23 H 15.849999 c -10e-6,-2.04 -0.388,-4.58 -2.16,-5.23 -0.332,-0.123 -0.651,-0.277 -0.963,-0.444 -0.973,1.31 -2.53,2.17 -4.2800002,2.17 -1.75,0 -3.31,-0.857 -4.28,-2.17 -0.30433,0.1596992 -0.6674216,0.3355448 -0.957,0.444 z"
     fill="#fff"
     fill-rule="evenodd"
     stop-color="#000000"
     id="path5324"
     style="
         fill:{{ colour }};
         fill-opacity:1;
         stroke:#ffffff;
         stroke-width:1;
         stroke-miterlimit:4;
         stroke-dasharray:none;
         stroke-opacity:1
     " />
</svg>
