// Darkly 4.5.3
// Bootswatch

@use "sass:color";

//
// Color system
//

$grey-hue-offset: 16;
$grey-saturation-offset: 5%;

$base-white:    #fff;
$base-gray-100: #f8f9fa;
$base-gray-200: #ebebeb;
$base-gray-300: #dee2e6;
$base-gray-400: #ced4da;
$base-gray-500: #adb5bd;
$base-gray-600: #888;
$base-gray-700: #444;
$base-gray-800: #303030;
$base-gray-900: #222;
$base-black:    #000;

$white:    color.adjust($base-white, $hue: $grey-hue-offset, $saturation: $grey-saturation-offset);
$gray-100: color.adjust($base-gray-100, $hue: $grey-hue-offset, $saturation: $grey-saturation-offset);
$gray-200: color.adjust($base-gray-200, $hue: $grey-hue-offset, $saturation: $grey-saturation-offset);
$gray-300: color.adjust($base-gray-300, $hue: $grey-hue-offset, $saturation: $grey-saturation-offset);
$gray-400: color.adjust($base-gray-400, $hue: $grey-hue-offset, $saturation: $grey-saturation-offset);
$gray-500: color.adjust($base-gray-500, $hue: $grey-hue-offset, $saturation: $grey-saturation-offset);
$gray-600: color.adjust($base-gray-600, $hue: $grey-hue-offset, $saturation: $grey-saturation-offset);
$gray-700: color.adjust($base-gray-700, $hue: $grey-hue-offset, $saturation: $grey-saturation-offset);
$gray-800: color.adjust($base-gray-800, $hue: $grey-hue-offset, $saturation: $grey-saturation-offset);
$gray-900: color.adjust($base-gray-900, $hue: $grey-hue-offset, $saturation: $grey-saturation-offset);
$black:    color.adjust($base-black, $hue: $grey-hue-offset, $saturation: $grey-saturation-offset);

// Default palette

$blue:    #375a7f !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #e74c3c !default;
$orange:  #fd7e14 !default;
$yellow:  #f39c12 !default;
$green:   #00bc8c !default;
$teal:    #20c997 !default;
$cyan:    #3498db !default;

$primary:       $blue !default;
$secondary:     $gray-700 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-500 !default;
$dark:          $gray-800 !default;

// Custom palette

$pale-ale:    #b6890c;
$hop-green:   #6b9f15;
$caramalt:    #cd5e08;
$lager-foam: #9a8267;
$union-red:   #cc2f2f;

$primary:       $pale-ale;
$secondary:     $gray-700;
$success:       $hop-green;
$info:          $lager-foam;
$warning:       $caramalt;
$danger:        $union-red;
$light:         $gray-500;
$dark:          $gray-800;

$yiq-contrasted-threshold:  175 !default;

// Body

$body-bg:                   $gray-900 !default;
$body-color:                $white !default;

// Typography

$hr-border-color:             rgba($white, .1);

// Links

$link-color:                $success !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      "Ubuntu", Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-font-family:        "Josefin Sans";
$font-size-base:              .9375rem !default;
$font-size-sm:                $font-size-base * .88 !default;
$h1-font-size:                3rem !default;
$h2-font-size:                2.5rem !default;
$h3-font-size:                2rem !default;
$text-muted:                  $gray-600 !default;

// Tables

$table-accent-bg:             $gray-800 !default;
$table-border-color:          $gray-700 !default;

// Forms

$input-bg:                          $gray-900;
$input-disabled-bg:                 $gray-800;
$input-color:                       $gray-200;

$input-border-color:                $body-bg !default;
$input-group-addon-color:           $gray-500 !default;
$input-group-addon-bg:              $gray-700 !default;
$custom-file-color:                 $gray-500 !default;
$custom-file-border-color:          $body-bg !default;

// Dropdowns

$dropdown-bg:                       $gray-900 !default;
$dropdown-border-color:             $gray-700 !default;
$dropdown-divider-bg:               $gray-700 !default;
$dropdown-link-color:               $white !default;
$dropdown-link-hover-color:         $white !default;
$dropdown-link-hover-bg:            $primary !default;

// Navs

$nav-link-padding-x:                2rem !default;
$nav-link-disabled-color:           $gray-500 !default;
$nav-tabs-border-color:             $gray-700 !default;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color $nav-tabs-border-color transparent !default;
$nav-tabs-link-active-color:        $white !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent !default;

// Navbar

$navbar-padding-y:                  1rem !default;
$navbar-dark-color:                rgba($white, .6) !default;
$navbar-dark-hover-color:          $white !default;
$navbar-light-color:                rgba($gray-900, .7) !default;
$navbar-light-hover-color:          $gray-900 !default;
$navbar-light-active-color:         $gray-900 !default;
$navbar-light-toggler-border-color: rgba($gray-900, .1) !default;

// Pagination

$pagination-color:                  $white !default;
$pagination-bg:                     $success !default;
$pagination-border-width:           0 !default;
$pagination-border-color:           transparent !default;
$pagination-hover-color:            $white !default;
$pagination-hover-bg:               lighten($success, 10%) !default;
$pagination-hover-border-color:     transparent !default;
$pagination-active-bg:              $pagination-hover-bg !default;
$pagination-active-border-color:    transparent !default;
$pagination-disabled-color:         $white !default;
$pagination-disabled-bg:            darken($success, 15%) !default;
$pagination-disabled-border-color:  transparent !default;

// Jumbotron

$jumbotron-bg:                      $gray-800 !default;

// Cards

$card-cap-bg:                       $gray-700 !default;
$card-bg:                           $gray-800 !default;

// Popovers

$popover-bg:                        $gray-800 !default;
$popover-header-bg:                 $gray-700 !default;

// Toasts

$toast-background-color:            $gray-700 !default;
$toast-header-background-color:     $gray-800 !default;

// Modals

$modal-content-bg:                  $gray-800 !default;
$modal-content-border-color:        $gray-700 !default;
$modal-header-border-color:         $gray-700 !default;

// Progress bars

$progress-bg:                       $gray-700 !default;

// List group

$list-group-bg:                     $gray-800 !default;
$list-group-border-color:           $gray-700 !default;
$list-group-hover-bg:               $gray-700 !default;

// Breadcrumbs

$breadcrumb-bg:                     $gray-700 !default;

// Close

$close-color:                       $white !default;
$close-text-shadow:                 none !default;

// Code

$pre-color:                         inherit !default;
