// Pour appliquer les changements, exécuter la commande suivante dans le dossier static du projet
// sass --watch ./scss/custom.scss:./css/bootstrap.css --style compressed

@import "variables";

// HTML tags

section {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, {
  font-variant: small-caps;

  &.noheading {
    font-family: $font-family-sans-serif;
    margin-bottom: 0;
    font-variant: normal;
  }
}



// Bootstrap classes

.btn {
  border-radius: 1.5rem!important;
}

.navbar {
  padding: 0!important;
  top: 0;
  transition: .3s;
}

.list-inline-item {
  margin-left: .5em;
  margin-right: .5em;

  &:not(:last-child):after {
    content: " ";
    margin: 0 .5rem;
    position: absolute;
    height: 1rem;
    top: 4px;
    bottom: 0;
    width: 1px;
    background: #666666;
  }
}

// BDB classes

.bdb-nav-mini-header {
  position: relative;
  z-index: 2;
  background-color: $dark;
  justify-content: space-between;
  align-items: center;
  padding-top: .25rem;

  .bdb-nav-mini-header-label {
    vertical-align: middle;
    color: white!important;
    text-decoration: none!important;
  }
}

.bdb-nav-brand-signature {
  margin-left: 1rem;

  @media only screen and (max-width: 1500px) {
    display: none;
  }
}

.bdb-nav-item {
  background-color: $secondary;
  width: 6rem;
  height: 100%;
  padding-top: 1em;
  padding-bottom: .5em;
  display: flex;
  flex-flow: wrap column;
  justify-content: space-around;
  text-align: center;
  transition: .5s;

  @media only screen and (max-height: 800px) {
    padding-top: .5em;
    padding-bottom: 0em;
  }

  .bdb-nav-item-icon {
    height: 32px;
  }

  .bdb-nav-item-label {
    color: $white;
    font-family: $headings-font-family, "Serif";
    font-variant: small-caps;
  }

  &:hover {
    background-color: $dark;
    cursor: pointer;
    text-decoration: none;
  }

  &.active {
    background-color: $primary;
  }
}

#bdb-nav-dropdown-container {
  position: relative;
  justify-content: center;
  top: 0;
  padding: 0;
  transition: .3s;

  .bdb-nav-dropdown-row{
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: center;

    .bdb-nav-dropdown-list {
      position: relative;
      width: 100%;

      .bdb-nav-dropdown-item {
        color: $white;
        font-family: $headings-font-family;
        font-variant: small-caps;
        font-size: larger;

        text-align: center;
        padding-top: .25em!important;
        padding-bottom: .25em!important;

        &:hover {
          background-color: $primary;
          cursor: pointer;
        }
      }
    }
  }
}

.bdb-nav-profile-wrapper {
  flex-flow: nowrap row-reverse!important;
  justify-content: flex-end;
  align-items: flex-end;
  padding: .25rem;

  .bdb-nav-profile-label {
    color: $white;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
    overflow: hidden;
    max-width: 20rem;
    margin-right: .5rem;
  }
}

.bdb-nav-options{
  flex-wrap: nowrap!important;

  #bdb-nav-options-tooltip {
    opacity: 0;
    transition: .5s;
  }
}


@import "../bootstrap/scss/bootstrap";
@import "bootswatch";
