{% extends "users/base/users.html" %}

{% block content %}

<h3>Changer votre mot de passe</h3>
<form method="post" action="">
    {% csrf_token %}
    {% include "users/forms/form_changer_mdp.html" %}
    <input type="submit" value="Envoyer" class="btn btn-primary" />
    <a href="{% url 'users:login' %}" class="btn btn-secondary">Annuler</a>
</form>

{% endblock %}