{% extends "users/base/users.html" %}

{% block content %}

<h3>Inscription</h3>
<small><strong>Tous les champs sont obligatoires</strong></small>
<form method="post" action="{% url 'users:inscription' key %}">
    {% csrf_token %}
    {% include "users/forms/form_inscription.html" %}
    <input type="submit" value="S'inscrire" class="btn btn-primary" />
    <a href="{% url 'users:login' %}" class="btn btn-secondary">Annuler</a>
</form>

{% endblock %}