{% extends "users/base/users.html" %}
{% load static %}

{% block content %}

<div class="mb-4">
    <img src="{% static 'svg/bdb2021_intranet_vect.svg' %}" alt="Brasserie du Bois" height="160px"/>
</div>
<form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    {% include "forms/form_placeholders.html" %}
    <hr/>
    <input type="submit" value="Se connecter" class="btn btn-primary" /><br/>
    <small><a href="{% url 'users:reset_mdp' %}">Mot de passe oublié ?</a></small><br/>
</form>

{% endblock %}