{% extends "users/base/users.html" %}

{% block content %}

<h3>Nouveau mot de passe</h3>
<form method="post" action="">
    {% csrf_token %}
    {% include "forms/form_placeholders.html" %}
    <input type="submit" value="Envoyer" class="btn btn-primary" />
</form>

{% endblock %}