{% extends "users/base/users.html" %}

{% block content %}

<h3>Mot de passe oublié ?</h3>
<p>Veuillez entrer l'email associé à votre compte. Un lien de réinitialisation du mot de passe vous sera envoyé.</p>
<form method="post" action="">
    {% csrf_token %}
    {% include "forms/form_placeholders.html" %}
    <input type="submit" value="Envoyer" class="btn btn-primary" />
    <a href="{% url 'users:login' %}" class="btn btn-secondary">Annuler</a>
</form>

{% endblock %}