{% extends "users/base/users.html" %}

{% block content %}

<h3>Utiliser un jeton d'inscription</h3>
<form method="post" action="{% url 'users:inscription' %}">
    {% csrf_token %}
    {% include "forms/form_placeholders.html" %}
    <input type="submit" value="Envoyer" class="btn btn-primary" />
    <a href="{% url 'users:login' %}" class="btn btn-secondary">Annuler</a>
</form>
{{ key }}

{% endblock %}