{% extends "users/base/users.html" %}
{% load static %}

{% block title %}Profil - BDB{% endblock %}

{% block content %}

<div class="row">
    <div class="col-auto position-absolute" style="z-index: 1">
        <a href="/" class="btn btn-secondary">
            <img src="{% static 'svg/icons/button_back.svg' %}" alt="" height="16px"/>
        </a>
    </div>
    <div class="col text-center">
        <h1>Profil</h1>
    </div>
</div>
<hr class="mt-4"/>

<h3 >Général</h3>
<div class="row justify-content-center align-items-center">
    <a class="col-auto" style="cursor: pointer;" data-toggle="modal" data-target="#modalGeneralChangerCouleur">
        <div data-toggle="tooltip" data-placement="left" title="Changer la couleur">
            {% include 'icons_dynamic/nav_profil.svg.html' with size="128" colour=user.couleur %}
        </div>
    </a>
    <div class="col-auto text-left">
        <span class="h4">{{ user.username }}</span><br/>
        <span>{{ user.first_name }} {{ user.last_name }}</span><br/>
        <span><small>{{ user.email }}</small></span>
    </div>
</div>
<div class="row justify-content-center">
    <button class="col-10 col-sm-8 col-md-6 btn btn-primary"
            data-toggle="modal" data-target="#modalGeneralChangerInfos">
        Modifier ces informations
    </button>
</div>
<hr class="mt-4"/>

<h3>Sécurité & Accès</h3>
<div class="row justify-content-center">
    <dl>
        <dt>Rôles</dt>
        <dd>
            {% if user.is_staff %}<span class="badge badge-pill badge-primary">Staff</span>{% endif %}
            {% if user.is_superuser %}<span class="badge badge-pill badge-danger">Admin</span>{% endif %}
        </dd>
        <dt>Accès au gestionnaire d'identifiants</dt>
        <dd class="text-danger">Non</dd>
    </dl>
</div>
<div class="row justify-content-center">
    <a href="{% url 'users:changer_mdp' %}"
       class="col-10 col-sm-8 col-md-6 btn btn-warning">Modifier le mot de passe</a>
</div>

<!-- Modals -->

<div class="modal fade" id="modalGeneralChangerInfos" tabindex="-1" aria-labelledby="modalGeneralChangerInfos" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="exampleModalLabel">Modifier les informations du profil</h5>
            </div>
            <form method="post" action="{% url 'users:profil_post' 'profil' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    {% include "users/forms/form_update_profil.html" with form=form_profil %}
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <input type="submit" value="Valider" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalGeneralChangerCouleur" tabindex="-1" aria-labelledby="modalGeneralChangerCouleur" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="exampleModalLabel">Modifier la couleur</h5>
            </div>
            <form method="post" action="{% url 'users:profil_post' 'couleur' %}">
                <div class="row modal-body justify-content-center">
                    <div class="col-6">
                        {% csrf_token %}
                        {% include "users/forms/form_update_couleur.html" with form=form_couleur %}
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <input type="submit" value="Valider" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    /**
     * Activation des tooltips sur la page
     */
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

{% endblock %}
