{% extends "base.html" %}
{% block title %}Brassintranet{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 m-3 text-center">
            <div class="jumbotron">
                <div class="mt-n4 mb-3">{% include "alerts.html" %}</div>
                {% block content %}
                    Erreur : le contenu de la page ne s'est pas chargé
                {% endblock %}
            </div>
        </div>
    </div>
</div>


{% endblock %}