{% load static inlinecss %}

{% inlinecss 'css/email.css' %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
</head>
<body>

{% block email_content %}{% endblock %}

<hr/>
<img src="https://intranet.brasseriedubois.fr{% static 'svg/bdb2021_typo_white_vect.svg' %}" alt="Brasserie du Bois" width="256px"/>

</body>
</html>
{% endinlinecss %}