{% extends 'users/email/base_email.html' %}
{% load static inlinecss %}

{% block email_content %}
{% inlinecss 'css/email.css' %}

<h3>Pour changer ton mot de passe</h3>

<p>Bonjour à toi camarade,</p>
<p>Tu as demandé la réinitialisation de ton mot de passe Brassintranet.
	<a href="{{ protocol }}://{{ domain }}{% url 'users:reset_mdp_formulaire' uidb64=uid token=token %}"
                               target="_blank">Clique ici pour en choisir un nouveau</a>. Tâche de ne pas l'oublier
    cette fois-ci !
</p>
<p>Bonne continuation sur le Brassintranet c:</p>

{% endinlinecss %}
{% endblock %}