{% extends 'users/email/base_email.html' %}
{% load static inlinecss %}

{% block email_content %}
{% inlinecss 'css/email.css' %}

<h3>Inscription sur le Brassintranet du Bois</h3>

<p>Salut à toi jeune brasseur,</p>
<p>Poudlard c'est surfait, c'est la Brasserie du Bois qui t'envoie une lettre ! En effet on vient te faire une proposition
    à mi-chemin entre cultissime et cultissime : te créer un compte sur le Brassintranet du Bois, et pas n'importe
    lequel... <strong>Un compte staff !</strong> Le prestige est présent, cela me rend tout chose (et toi aussi
    j'espère)... Tu es partant ?</p>
<p style="margin-bottom: 1rem;">Pour valider ton inscription, on t'invite à remplir le formulaire au lien ci-dessous,
    et après ça tu auras enfin un compte staff prêt à être utilisé :</p>
<div style="text-align: center">
    <a href="https://intranet.brasseriedubois.fr{% url 'users:inscription' key %}" style="background-color: #b6890c; padding: 1rem;
    border-radius: 1.5rem; color: white; text-decoration: none;">
    Par ici l'inscription !
</a></div>
<p>En espérant te voir bien vite...</p>
<p>Force et houblon !&#8482;</p>

{% endinlinecss %}
{% endblock %}