{% extends 'users/email/base_email.html' %}
{% load static inlinecss %}

{% block email_content %}
{% inlinecss 'css/email.css' %}

<h3>Un nouvel admin parmi nous !</h3>

<p>Salut à toi, camarade brasseur.</p>
<p>Ce mail t'est envoyé par mesure de sécurité pour te prévenir qu'un nouvel administrateur a été créé ou qu'un membre
    a été promu au statut d'administrateur ou de superadministrateur.</p>

<div style="text-align: center">
    Voici son nom d'utilisateur :<br/>
    <strong>{{ username }}</strong>
</div>

<p>Tu connais cette personne ? Si c'est le cas, n'oublie
    pas de souhaiter la bienvenue à ton nouveau ou ta nouvelle camarade comme il se doit !</p>
<p>Toi et les autres membres du staff ne connaissez pas cette personne ? Ce nom ne vous dit rien ? Alors camarades, il
    y a un imposteur parmi nous... *jingle menaçant à base de trombone et de claves*<br/>
    Si c'est le cas, <strong>merci de prendre les mesures nécessaires dans les plus brefs délais via le
        <a href="https://intranet.brasseriedubois.fr/admin/users/userextended/">panneau d'administration</a>.</strong>
</p>
<p>Bonne continuation sur le Brassintranet !</p>

{% endinlinecss %}
{% endblock %}