{% extends 'users/email/base_email.html' %}
{% load static inlinecss %}

{% block email_content %}
{% inlinecss 'css/email.css' %}

<h3>Bienvenue sur le brassintranet du bois !</h3>

<p>Salut à toi jeune brasseur,</p>
<p>Bienvenue sur le Brassintranet, où toi et tes camarades pourrez observer comment votre Brasserie du Bois se porte.
    Et ça c'est beau !</p>
<p>Ton identifiant est <strong>{{ username }}</strong>. Seulement un surnom à ton actif, mais ne te dénigre pas, tu
    fais du bon travail quoi qu'il en soit.</p>
<p>Bref, amuse-toi bien sur l'intranet brassicole le plus sexy du game (en vrai j'en sais rien mdr mais on ne peut nier
toutefois que les Brasseurs du Bois ont un certain sex appeal...)</p>
<p>Force et houblon !&#8482;</p>

{% endinlinecss %}
{% endblock %}