{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <title>{% block title %}Intranet{% endblock %}</title>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

{% block body %}


{% block navbar %}
    <header class="container-fluid sticky-top bg-danger text-white text-center">
        Erreur serveur : le contenu de la navbar n'a pas pu être chargé
    </header>
{% endblock %}


<section class="container-fluid">
    {% block content %}{% endblock %}
</section>


<footer class="container-fluid fixed-bottom bg-secondary">
    <div class="row justify-content-between">
        <div class="col-auto m-1 px-0">
            <small><ul class="list-inline mb-0">
                <li class="list-inline-item">&copy; Brasserie du Bois</li>
                <li class="list-inline-item">2020-2021</li>
                <li class="list-inline-item d-none d-lg-inline-block">Made with Django</li>
                <li class="list-inline-item d-none d-xl-inline-block">
                    Bootstrap theme : Darkly (by Thomas Park), distributed by Bootswatch, adjusted by Martin Gaboriaud
                </li>
            </ul></small>
        </div>
        <div class="col text-right pr-0">
            <ul class="list-inline mb-0">
                <li class="list-inline-item d-none d-lg-inline-block">
                    <small><strong>{{ version.name }}</strong></small>
                </li>
                <li class="list-inline-item">
                    <small><strong>v{{ version.version }}_{{ version.type }}</strong></small>
                </li>
            </ul>
        </div>
    </div>
</footer>

{% endblock %}

<script>
    /**
     * Gestion du rangement de la navbar en cas de scroll down sur téléphone (hauteur inférieure à 800px)
     */
    const MOBILE_MAX_SIZE = 800;
    const OFFSET_ON_SCROLL = "-120px";
    let prevScrollpos = window.pageYOffset;
    let zoneToHideOnScroll = $('#navbar, #bdb-nav-dropdown-container');

    window.onscroll = function() {
        if (window.innerHeight < MOBILE_MAX_SIZE) {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                zoneToHideOnScroll.css('top', '0');
            } else {
                zoneToHideOnScroll.css('top', OFFSET_ON_SCROLL);
                let dropdowns = $('#bdb-nav-dropdown-container').children('.collapse');
                for (let dropdown of dropdowns) {
                    $(dropdown).collapse('hide');
                }
            }
            prevScrollpos = currentScrollPos;
        }
    }
</script>

<script>
    /**
     * Gestion de la fermeture automatique des autres dropdowns de la navbar lorsqu'un dropdown est ouvert
     */
    $(function() {
        $(".bdb-nav-item[data-toggle='collapse']").click(function() {
            let navItemSiblings = $(this).parent().siblings('li').children(".bdb-nav-item[data-toggle='collapse']");
            for (let sibling of navItemSiblings) {
                let dropdownSelector = $('#bdb-nav-dropdown-container ' + $(sibling).attr('href'));
                dropdownSelector.collapse('hide');
            }
        });
    })
</script>

<script>
    /**
     * Gestion du tooltip associé aux options à droite de la navbar (apparaition et mise à jour du texte)
     */
    $(function() {
        $('.bdb-nav-options-btn').on({
            mouseenter: function() {
                let tooltipSelector = $('#bdb-nav-options-tooltip');
                tooltipSelector.text($(this).attr('data-tooltip'));
                tooltipSelector.css('opacity', '1');
            },
            mouseleave: function() {
                let tooltipSelector = $('#bdb-nav-options-tooltip');
                tooltipSelector.css('opacity', '0');
            }
        });
    })
</script>

</body>
</html>