{% load static %}

<!-- NAVBAR -->
<header class="container-fluid sticky-top">


    <!-- Header pour petits écrans -->
    <div class="row bdb-nav-mini-header d-md-flex d-lg-none">
        <a href="/" class="col-auto bdb-nav-mini-header-label d-none d-md-inline-flex">
            <img src="{% static 'svg/bdb2021_intranet_vect.svg' %}" alt="" class="mb-2" height="32px" />
            <span class="h3 ml-1 mb-0">brassintranet</span>
            <small class="pt-3">- Beta</small>
        </a>
        <a href="/" class="col-auto bdb-nav-mini-header-label d-sm-inline-block d-md-none px-2">
            <img src="{% static 'svg/bdb2021_intranet_vect.svg' %}" alt="" class="mb-2" height="24px" />
            <span class="h4 ml-1 mt-1">brassintranet</span>
        </a>
        <div class="col-auto bdb-nav-options align-items-center mb-1">
            <a href="/admin" class="bdb-nav-options-btn badge badge-pill badge-danger p-1">
                <img src="{% static 'svg/icons/option_admin.svg' %}" alt="" height="16px"/>
            </a>
            <a href="https://gitlab.com/mgaboriaud/brassintranet-du-bois/-/wikis/home" target="_blank"
               class="bdb-nav-options-btn badge badge-pill badge-secondary p-1">
                <img src="{% static 'svg/icons/option_aide.svg' %}" alt="" height="16px"/>
            </a>
            <a href="{% url 'users:logout' %}" class="bdb-nav-options-btn badge badge-pill badge-secondary p-1">
                <img src="{% static 'svg/icons/option_deconnexion.svg' %}" alt="" height="16px"/>
            </a>
            <span class="ml-1 mr-2 border-right border-light" style="height: 16px;"></span>
            <a href="{% url 'users:profil' %}">
                {% include 'icons_dynamic/nav_profil.svg.html' with size="32" colour=user.couleur %}
            </a>
        </div>
    </div>


    <!-- Navbar body -->
    <div class="row">
        <div class="col-md px-0">
            <nav class="d-flex navbar navbar-expand navbar-dark bg-secondary justify-content-center align-items-center"
                id="navbar">

                <!-- Brand avec titre -->
                <a class="col-auto navbar-brand align-items-center mr-0 px-2 d-none d-lg-flex" href="/">
                    <span>
                        <img src="{% static 'svg/bdb2021_intranet_vect.svg' %}" alt="" height="64px" />
                        <span class="h1 ml-1 mt-1 align-top d-none d-xl-inline-block">brassintranet</span>
                        <small class="badge badge-info ml-1 d-none d-xl-inline-block">Beta</small>
                    </span>
                    <span class="bdb-nav-brand-signature">
                        <small>by </small>
                        <img src="{% static 'svg/bdb2021_typo_white_vect.svg' %}" alt="" height="48px" />
                    </span>
                </a>

                <!-- Séparateur -->
                <span class="mx-4 my-2 border-right border-light d-none d-lg-inline-block" style="height: 64px;"></span>

                <!-- Launchers de modules -->
                <ul class="navbar-nav overflow-auto pr-0" style="flex: 0 0 initial; width: auto; max-width: 100%;">
                    {% for launcher in navbar_data.launchers %}
                    <li>
                        <a class="nav-item bdb-nav-item {% if launcher.id == active_launcher_id %}active{% endif %}"
                            href="{{ launcher.href }}"
                            {% if launcher.opens_dropdown %}
                            data-toggle="collapse" role="button" aria-expanded="false"
                            aria-controls="{{ launcher.href | cut:"#" }}"
                            {% endif %}>
                            <img class="bdb-nav-item-icon" src="{% static launcher.icone %}" alt=""/>
                            <span class="bdb-nav-item-label">{{ launcher.nom }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>

                <!-- Séparateur -->
                <span class="mx-4 my-2 border-right border-light d-none d-lg-inline-block" style="height: 64px;"></span>

                <!-- Section profil/options -->
                <div class="col-auto container-fluid flex-column justify-content-center align-items-end mr-5 d-none d-lg-flex">
                    <a href="{% url 'users:profil' %}" class="row bdb-nav-profile-wrapper">
                        {% include 'icons_dynamic/nav_profil.svg.html' with size="32" colour=user.couleur %}
                        <span class="bdb-nav-profile-label">{{ user.username|truncatechars:32 }}</span>
                    </a>
                    <div class="row align-items-center bdb-nav-options">
                        <small class="bdb-nav-options-tooltip mr-1 text-right" id="bdb-nav-options-tooltip"></small>
                        <a href="/admin" class="bdb-nav-options-btn badge badge-pill badge-danger mx-1 p-1"
                           data-tooltip="Administration">
                            <img src="{% static 'svg/icons/option_admin.svg' %}" alt="" height="16px"/>
                        </a>
                        <a href="https://gitlab.com/mgaboriaud/brassintranet-du-bois/-/wikis/home" target="_blank"
                           class="bdb-nav-options-btn badge badge-pill badge-dark mx-1 p-1" data-tooltip="Aide">
                            <img src="{% static 'svg/icons/option_aide.svg' %}" alt="" height="16px"/>
                        </a>
                        <a href="{% url 'users:logout' %}"
                           class="bdb-nav-options-btn badge badge-pill badge-dark mx-1 p-1" data-tooltip="Déconnexion">
                            <img src="{% static 'svg/icons/option_deconnexion.svg' %}" alt="" height="16px"/>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>


    <!-- Section des dropdowns -->
    <div class="container d-flex col-12 col-lg-8 col-xl-6" id="bdb-nav-dropdown-container">
        {% for dropdown in navbar_data.dropdowns %}
        <div class="row collapse bdb-nav-dropdown-row" id="{{ dropdown.id }}">
            <div class="list-group bdb-nav-dropdown-list">
                {% for url in dropdown.urls %}
                <a href="{{ url.href }}" class="list-group-item bdb-nav-dropdown-item">
                    {{ url.titre }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

</header>