{% extends "accueil/base/accueil.html" %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-8 text-center">
        <h2>Bien le bonjour, {{ user.username }}</h2>
        <p>Si tu lis ceci c'est que tu es correctement authentifié. Il y a pas grand chose ici psk le site est en
            travaux tmtc mais bientôt promis ça fera du saaaaale.</p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseRickroll">
            clique ici pour vérifier si bootstrap marche correctement sur ton navigateur
        </button>
        <div class="collapse" id="collapseRickroll">
            <img src="https://media1.tenor.com/images/128caaeee54ca76c9b84a8ca079a11be/tenor.gif?itemid=18039349">
        </div>
        <hr/>
        <img src="https://media.tenor.com/images/11efb4c7bab856999f0fd1f3978c2be9/tenor.gif"/>
    </div>
</div>

{% endblock %}