<div>Entrez l'adresse mail du futur utilisateur à créer puis cliquez sur <strong>Enregistrer</strong>.
    Un lien d'inscription lui sera envoyé.</div>
<div>
    <strong>Ce lien expire 15 minutes après son envoi.</strong>
</div>