{# Effectue le rendu d'un champ de type couleur #}
{# Le paramètre field doit être spécifié lors de l'include à l'aide du mot-clé with #}
{# Le paramètre additional_classes permet de spécifier des classes Bootstrap pour contrôler la largeur du champ #}
{# Le paramtre default_value désigne la valeur par défaut à donner au champ #}
{# Le paramètre hidden est un booléen qui permet de cacher le field s'il est égal à True #}

{% load widget_tweaks %}

<div class="form-group {{ additional_classes }}" {% if hidden %}hidden{% endif %}>
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% if field.errors %}
        <input type="color" name="{{ field.html_name }}" value="{{ default_value }}"
               class="form-control is-invalid" id="{{ field.id_for_label }}" />
        {% for error in field.errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
    {% else %}
        <input type="color" name="{{ field.html_name }}" value="{{ default_value }}"
               class="form-control" id="{{ field.id_for_label }}" />
    {% endif %}

    {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
</div>
