{# Effectue le rendu d'un champ du formulaire avec son label en libellé classique. #}
{# Le paramètre field doit être spécifié lors de l'include à l'aide du mot-clé with #}
{# Le paramètre additional_classes permet de spécifier des classes Bootstrap pour contrôler la largeur du champ #}
{# Le paramtre default_value désigne la valeur par défaut à donner au champ #}
{# Le paramètre hidden est un booléen qui permet de cacher le field s'il est égal à True #}

{% load widget_tweaks %}

<div class="form-group {{ additional_classes }}" {% if hidden %}hidden{% endif %}>
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% if field.errors %}
        {% render_field field class+="form-control is-invalid" value=default_value  %}
        {% for error in field.errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
    {% else %}
        {% render_field field class+="form-control" value=default_value %}
    {% endif %}

    {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
</div>
