{% load widget_tweaks %}

{% for field in form %}
    <div class="form-group">
        {% if field.errors %}
            {% render_field field class+="form-control is-invalid" placeholder=field.label %}
            {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% else %}
            {% render_field field class+="form-control" placeholder=field.label %}
        {% endif %}

        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
    </div>
{% endfor %}